@import url('https://fonts.googleapis.com/css?family=Merriweather:100,200,300,300i,400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

#weather-data {
  font-size: 20px;
  color: white;
}

body {
  margin: 2px;
  padding: 2px;
  font-family: "Open Sans", serif;
}

.wrapper {
  background: linear-gradient(to right, #1b70b9, #05034e);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  height: 90vh;
  /* background: #5d2f60; */
  background: #003b73;
  box-shadow: 0px 13px 40px -13px rgba(0,0,0,0.75);
  width: 80%;
  margin: 0 auto;
}

.title {
  height: 90vh;
  width: 27vw;
  background: url("img/nature.jpg") center center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

#title {
  font-size: 50px;
  letter-spacing: 2px;
  line-height: 1.3;
  font-family: 'Roboto Slab', serif;
}

#subtitle {
  font-style: italic;
  font-weight: 100;
  letter-spacing: 1px;
  line-height: 1.5;
  font-family: "Merriweather", serif;
}

.form {
  background: linear-gradient(to top,  #1b70b9, #04023a);
  height: 90vh;
  padding-top: 60px;
  padding-left: 50px;
}

input[type="text"] {
  background-color: transparent;
  border: 2px;
  border-bottom: solid 2px #eb722c;
  width: 30%;
  padding-bottom: 5px;
  color: white;
  font-weight: heavier;
  letter-spacing: 2px;
  margin-bottom: 30px;
  margin-right: 20px;
  font-size: 20px;
}

input[type="text"] { 
    outline: none;
}

/* input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 50px white inset;
    -webkit-text-fill-color: white;
} */

button {
  border: 0;
  padding: 8px 20px;
  margin: 0 2px;
  border-radius: 2px;
  font-weight: lighter;
  letter-spacing: 1px;
  font-size: 15px;
  cursor: pointer;
  background-color: #eb722c;
  color: white;
  font-weight: 200;
}

.weather__info {
  width: 60%;
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 2px;
}

.weather__key {
  color: #eb722c;
  border-bottom: solid 2px rgba(255,255,255,0.06);
  padding: 20px 0 20px 0;
  font-weight: 400;
}

.weather__key:last-child {
  border: 0;
}

.weather__value {
  color: #fff;
  font-weight: 200;
}

.weather__error {
  color: #eb722c;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 200;
}

p#location {
  font-size: 25px;
  text-align: center;
}







