/* .App {
  text-align: center;
  background-color: indigo;

} */

/* .fill {
  min-height: 100%;
  height: 100%;
  background-color: blueviolet;
}

.text-center {
  padding: 100px;
} */ 

#wrapper {
  width: 100%;
  height: 600px;
  border: 5px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: indigo;
}




